/* container */
.main--container {
    width: 100%;
    height: 100vh;
    background: red;
    display: grid;
    grid-template-columns: minmax(400px , 850px) 1fr;
    overflow: hidden;
}

/* home page */
.main--container .home-page {
    background: #fff;
    display: flex;
    flex-direction: column;
}

.main--container .home-page header {
    /* height: 65px; */
    background-color: #F0F2F5;
    width: 100%;
}

.main--container .home-page header .header--container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
}

.main--container header .header--logo img{
    cursor: pointer;
    display: flex;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.main--container header .header--icons {
    color: rgb(84, 101, 111);
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 0 1.5rem;
}

.main--container header .header--icons svg {
    cursor: pointer;
}