

.user-profile {
    font-family: 'Vazirmatn', sans-serif;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    padding-inline: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem 0;
    background-color: #fff;
    width: 450px;
    min-width: 250px;
    max-width: 96%;
    max-height: calc(100vh - 0px);
    box-shadow: 0 10px 40px -20px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

/* online statue */
.user-profile .image {
    position: relative;
}
.user-profile .image img {
    padding: 0 ;
    width: 7rem ;
    height: 7rem ;
    border-radius: 50%;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.user-profile .image .online-statue {
    outline: 4px solid #fff;
    position: absolute;
    bottom: 20px;
    right: 8px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #07bc0c;
}

.user-profile p , button {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
    margin-block: 0.4rem;
}

.user-profile h2 {
    color: var(--text-color);
    font-size: 1.3rem;
}