.user-profile {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 200;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    font-family: "Vazirmatn" , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.user-profile.profile-show {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);

}

.user-profile header.user-profile--header {
  color: #fff;
  background-color: #008069;
  padding-inline: 1rem;
  height: 50px;
  display: flex;
  align-items: center;
}

.user-profile .user-profile--header .header--text {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0 2rem;
}

.user-profile .user-profile--header .header--text h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

.user-profile .user-profile--header .header--text svg {
  cursor: pointer;
  font-size: 1.2em;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.user-profile .profile--image .img{
  position: relative;
}

.user-profile .profile--image img {
  cursor: pointer;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.user-profile .profile--image .icon {
  cursor: pointer;
  position: absolute;
  left: 0.5rem;
  bottom: 1rem;
  padding: 0.5rem;
  background: #179652;
  border-radius: 50%;
  text-align: center;

}

.user-profile .profile--image .img svg {
  color: #fff;
  font-size: 1.3rem;
}

.user-profile .profile--name,
.user-profile .profile--status,
.user-profile .profile--phone-number {
  padding: 0.6rem 1.1rem;
  border-bottom: 1px solid #eae6df;
  align-items: center;
  display: grid;
  grid-template-columns: 50px 1fr 40px;
}

.user-profile .profile--info div:last-child {
  border-bottom: none;
}

/* phone number exception */
.user-profile .profile--phone-number {
    grid-template-columns: 50px 1fr;
}

.user-profile .profile--name {
  grid-template-rows: 45px 50px;
}

.user-profile .icon svg {
  font-size: 1.5rem;
  color: #8696a0;
}

.user-profile  .display {
  display: flex;
  flex-direction: column;
  gap: 0.3rem 0;
}

.user-profile  .display h3 {
  font-size: 0.9rem;
  font-weight: 400;
  color: #8696a0;
}

.user-profile  .display h4 {
  font-size: 0.95rem;
  font-weight: 400;
}

.user-profile .profile--name .info {
  font-size: 0.75rem;
  font-weight: 400;
  color: #667781;
}

.user-profile  .edit {
    cursor: pointer;
  text-align: center;
}

.user-profile .edit svg {
  font-size: 1.5rem;
  color: var(--whatsapp-color);
}

.user-profile .profile--phone-number .display p {
  align-self: self-end;
}