

.viewImage--container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background-color: #e9edef;
    display: flex;
    flex-direction: column;
    padding-block: 1rem;
}

.viewImage--container header {
    background-color: #e9edef;
    padding: 1rem;
}

.viewImage--container .icon {
    font-size: 1.5rem;
    color: #54656f;
    cursor: pointer;
}

.viewImage--container main {
    background-color: #e9edef;
    flex-grow: 1;
    max-height: 100%;
}

.viewImage--container main .img {
    margin-inline: 5px;
    max-width: 100%;
    height: 86%;
    overflow: hidden;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}



.viewImage--container main .img img {
    box-shadow: 0 3px 12px rgba(11,20,26,.16);
    object-fit: contain;
    width: 100%;
    max-height: 100%;
    /* background-color: #fff; */
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}


/* ? footer */

 .viewImage--container .footer {
    flex-direction: column;
    min-height: 100px;
    padding: 0;
    background-color: #e9edef;
    gap: 0;
    height: 127px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: transparent;
}

.viewImage--container .footer aside.EmojiPickerReact.epr-main {
    width: 100% !important;
    direction: initial;
}

.viewImage--container .footer .input {
    border-radius: 3rem;
    background: #fff;
    padding-inline: 1rem;
    width: 95%;
    background: #414449e0;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

.viewImage--container .footer .input input {
    color: #f9f9f9;
    background-color: transparent;
    white-space: pre-wrap;
    word-break: break-word;
    line-height: 1.47em;
    font-size: 1.0625rem;
}

.viewImage--container .footer .input input::placeholder {
    color: #f9f9f9;
}

.viewImage--container .footer .input svg {
    font-size: 1.55rem;
    color: #f9f9f9;
}

.viewImage--container .footer form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem 0;
}

.viewImage--container .footer form .btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.btns-bg {
    background: #272a2e52;
}

.viewImage--container .footer form .btns button {
    all: unset;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--whatsapp-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(11,20,26,.4);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.viewImage--container .footer form .btns button svg {
    color: #fff;
}

.viewImage--container .footer form .btns p {
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    background: #54656f;
    color: #fff;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

@media screen and (min-width: 767px) {

    .viewImage--container main .img {
        max-width: 100%;
        max-height: 62%;
        overflow: hidden;
    }
    .viewImage--container .footer .input  {
        width: calc(100% - 50px);
    }
    .viewImage--container {
        padding: 0;
    }
}

@media screen and (min-width : 1440px) {
    .viewImage--container {
        height: 94vh;
    }
}